.nav{
    width: 100%;
    max-width: 100%;
    height: auto;
    min-height: 55px;
    display: flex;
    align-items: center;
    background-color: $title;
    margin-top: 16px;

    @media(max-width: 380px){
        max-width: 340px;
        height: 100vh;
        margin-top: 0;
        align-items: flex-start;
        top: 0;
        padding-top: 20px;
        left: 0;
        transform: translate3d(-340px, 0, 0);
        position: fixed;
        z-index: 20;
        transition: all .5s ease-in-out;
    }
}

.menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;

    @media(max-width: 380px){
        flex-flow: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .menu{

        &-parent{
            position: relative;

            &__link{
                @include text(16, 16, 400, $color-text-bg4, $roboto);
                position: relative;
                @include no-mouse-effects;

                @media(max-width: 380px){
                    @include text(18, 18, 700, $color-text-bg4, $roboto);
                }

                &:before{
                    content: '';
                    width: 100%;
                    max-width: 0;
                    height: auto;
                    min-height: 2px;
                    background-color: $color-text-bg4;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    z-index: -3;
                    transition: max-width .1s ease-in-out;
                }

                &:hover{
                    color: $color-text-bg4;

                    &:before{
                        max-width: 100%;
                        z-index: 1;
                    }
                }
            }

            &:hover{

                .menu-children{
                    display: flex;
                }
            }
        }

        &-child{
        }

        &-children{
            width: 100%;
            max-width: 180px;
            min-width: 180px;
            height: auto;
            display: none;
            align-items: flex-start;
            justify-content: flex-start;
            flex-flow: column;
            padding: 10px 15px;
            background-color: $white;
            border: 1px solid $title;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 16;

            @media(max-width: 1180px){
                display: none;
            }

            &-item{
                display: block;
                margin-top: 8px;

                &:first-child{
                    margin-top: 0;
                }

                &__link{
                    @include text(12, 12, 400, $text, $roboto);
                    transition: color .5s ease-in-out;

                    &:hover{
                        color: $title;
                    }
                }
            }
        }
    }

    &-mobile{

        &-open{
            display: none;
            
            @media(max-width: 380px){
                width: 100%;
                max-width: 30px;
                height: auto;
                max-height: 30px;
                min-height: 30px;
                position: absolute;
                right: 15px;
                top: 25px;
                z-index: 15;
            }
        }

        &-close{
            display: none;

            @media(max-width:380px){
                @include text(18, 18, 700, $white, $roboto);
                width: 100%;
                max-width: 30px;
                height: auto;
                max-height: 30px;
                min-height: 30px;
                display: block;
                position: absolute;
                right: 10px;
                top: 10px;
                z-index: 15;
            }
        }

        &--active{
            transform: translate3d(0, 0, 0);
        }

        &-bar{
            width: 100%;
            height: 5px;
            border-radius: 2px;
            background-color: $title;
            display: block;
            margin-top: 3px;

            &:first-child{
                margin-top: 0;
            }
        }
    }
}